<nav class="navbar navbar-expand-lg bg-light">
    <div class="container-fluid">
        <div class="d-flex align-items-center justify-content-start">
            <a class="navbar-brand border-end cursor-pointer" (click)="toggleSIdeMenu()"><i
                    class="bi bi-text-indent-left me-2"></i></a>
            <ol class="breadcrumb m-0">
                <li class="breadcrumb-item"><a href="#"><i class="bi bi-house"></i></a></li>
                <li class="breadcrumb-item active" aria-current="page">Dashboard</li>
            </ol>
        </div>
        <div class="d-flex align-items-center justify-content-start">
            <div class="navbar-brand border-start m-0">
                <a class="text-primary link-underline-light">
                    <p class="fs-6 m-0 me-1 px-2">ADD NEW<span><i class="bi bi-plus-lg"></i></span></p>
                </a>
            </div>
            <div class="navbar-brand border-start  m-0">
                <p class="fs-6 m-0 me-1 px-2"><span><i class="bi bi-search"></i></span></p>
            </div>
            <div class="navbar-brand border-start border-end m-0">
                <p class="fs-6 m-0 me-1 px-2"><span><i class="bi bi-bell-fill"></i></span></p>
            </div>
            <div class="dropdown-center">

                <div class="btn" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                    <div class="text-end text-primary">{{'ADMIN'}}
                        <i class="bi bi-three-dots-vertical"></i>
                    </div>
                    <div class="text-end text-primary">{{'(admin@example.com)'}}</div>
                </div>
                <ul class="dropdown-menu dropdown-menu-lg-end">
                    <li><a class="dropdown-item" href="#">Action</a></li>
                    <li><a class="dropdown-item" href="#">Action two</a></li>
                    <li><a class="dropdown-item" href="#">Action three</a></li>
                </ul>
            </div>
        </div>

    </div>
</nav>